// COMMON

// General
body {
   background-color: $bg-default-col;
   color: $text-col;

   // Layout
   min-height: 100vh;
   display: flex;
   flex-direction: column;
}

#app {
   flex-grow: 1;
}